.bodyHome{
    background-color:  #24085c;
}

.headerPadre{
    height: 16vh;
    border-bottom: 2px solid #542aae;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #542aae;
}

.logoMoodyMonkey{
    width: 120px;
    border-radius: 180px;
}

.hijoHeader{
    width: 30%;
}

.navPadre{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;    
}

.navHijo{
    text-decoration: none;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footerPadre{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #542aae;
    width: 100%;
    height: 140px;
    justify-content:space-evenly;
}

.footerParrafos{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h2{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.h3{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imagenes{
    width: 200px;
    height: 200px;
}

.articlesEnlaces{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.articlesParrafos{
    margin: 0px;
}

.sectionPadre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}