.bodyHome{
    background-color:  #24085c;
}

.headerPadre{
    height: 18vh;
    border-bottom: 2px solid #542aae;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #542aae;
}

.logoMoodyMonkey{
    width: 120px;
    border-radius: 180px;
    height: 18vh;
}

.navPadre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.navHijo{
    text-decoration: none;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footerPadre{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #542aae;
    width: 100%;
    height: 140px;
    justify-content:space-evenly;
    margin-top: 50px;
}

.footerParrafos{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h2{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.h3{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
    margin-top: 50px;
}

.imagenes{
    width: 200px;
    height: 200px;
}

.articlesEnlaces{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.articlesParrafos{
    margin: 0px;
}

.sectionPadre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.imagenDetalle {
    width: 500px;
    height: 500px;
    margin-top: 40px;
    margin-left: 40px;
}

.articleDetalle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.divAlbum {
    display: inline-block;
    margin-top: 40px;
    margin-left: 40px;
}

.articleAlbum {
    margin: 2px;
}

.imagenGenero{
    width: 160px;
    height: 120px;
    margin-left: 20px;
 }

 .h4genero{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-decoration: underline;
    text-align: center;
 }

 .sectionGenero1{  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 300px;
    justify-content: space-around;
 }

 .sectionGenero2{  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 300px;
    justify-content: space-around;
 }

 .rock{
    height: 200px;
    width: 200px;
    padding: 12px;
    background-color: black;
 }

 .pop{
    height: 200px;
    width: 200px;
    padding: 12px;
    background-color: rgb(89, 160, 89);
 }

 .folklore{
    height: 200px;
    width: 200px;
    padding: 12px;
    background-color: rgb(70, 28, 28);
 }

 .jazz{
    height: 200px;
    width: 200px;
    padding: 12px;
    background-color: grey;
 }

 .cumbia{
    height: 200px;
    width: 200px;
    padding: 12px;
    background-color: rgb(241, 178, 59);
 }

 .reggaeton{
    height: 200px;
    width: 200px;
    padding: 12px;
    background-color: rgb(226, 136, 214);
 }
 
 .cancionesPlaylist{
     width: 100%;
     height: 70px;
 }

 .playlistPadre{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;     
 }

 .playlistHijo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around; 
 }

 .h5{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
    margin-top: 20px;
    width: 200px;
 }

 .sectionGenero{
     margin: 40px;
 }

.fondoGenero{
    text-align: center;
    background-color: rgba(89, 160, 89, 0.818);
}

.fondoGenero1{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.562);
}

.h3genero{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}